# MLflow
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=monthly-investment-recommendation

# Data extraction
DEFAULT_START_DATE=2015-01-01
DEFAULT_END_DATE=

# Portfolio optimization
DEFAULT_MONTHLY_INVESTMENT_AMOUNT=10000.0
MIN_ASSET_WEIGHT=0.00
MAX_ASSET_WEIGHT=0.35
RISK_FREE_RATE=0.0

# Model configuration
RANDOM_STATE=42
TEST_SIZE=0.20
N_SPLITS=5
